section {
    min-height: 100vh;
    
    background: linear-gradient(#000000e8, #000000ef), url(/assets/places/marriott.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
}
.card-stack {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.card-salon {
    position: relative;
    width: 25%; height: 400px;
    overflow: hidden;
    padding: 10px;
    margin: 0;
}

.card-salon img {
    position: absolute;
    width: calc(100% - 20px); height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.card-salon h6 {
    color: #ffffff;
    margin-top: 260px;
}

@media (max-width: 991px){
    .card-salon img {
         height: 180px;
    }
    .card-salon h6 {
        margin-top: 190px;
    }
}

@media (max-width: 767px){
    .card-salon {
        width: 33%;
    }
}

@media (max-width: 550px){
    .card-salon {
        width: 50%;
    }
}




