<section>
  <div class="container py-5">
    <h2 class="mb-3 text-white">
      Nuestros Salones en Aguascalientes
    </h2>
    <p class="mb-4">Corporativo Legaspi by Jimena esta aliado con los salones, quintas, y hoteles más exclusivos de
      Aguascalientes, y aunque todos son perfectos, podrás elegir entre todos por jardín, alberca, estacionamiento,
      hospedaje, localización, precio, etc.</p>
    <div class="card-stack">
      <div class="card-salon" *ngFor="let salon of salons">
        <img [src]="salon.img" alt="not loaded">
        <h6>{{salon.name}}</h6>
        <p>{{salon.desc}}</p>
      </div>
    </div>
  </div>
</section>