<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 pr-5 col-md-12">
        <img
          src="/assets/logo.svg"
          alt="logo vectorial de corporativo legaspi"
        />
      </div>
      <div class="col-lg-6 col-md-12">
        <h2 class="baskervville">
          Contactanos
        </h2>
        <p class="mb-5">
          Abrimos nuestras puertas en 2013 en la ciudad de Aguascalientes,
          México, Somos una empresa vibrante y amamos lo que hacemos.
        </p>
        <p class="font-weight-bold">Telefono (449) 449 7623</p>
        <p class="font-weight-bold">Correo jimena@jimenalegaspi.com</p>
      </div>
    </div>
  </div>
</header>
