section.main {
  min-height: 100vh;
  background-image: linear-gradient(#000000e8, #000000ef),
    url(/assets/places/alameda.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 1700px) {
  #img-plate,
  #img-flour,
  #img-spoon,
  #img-knife,
  #img-fork {
    background-size: 80%;
  }
  #img-plate,
  #img-flour {
    margin-left: 10vw;
  }
}

@media (max-width: 1400px) {
  #img-plate,
  #img-flour,
  #img-spoon,
  #img-knife,
  #img-fork {
    background-size: 70%;
  }
}

@media (max-width: 1300px) {
  .node-three,
  .node-two,
  .node-container > .row > .col-12 > *,
  .node-container > .row > .col-6 > .row > * {
    display: none;
  }
  .node-container > .row {
    width: 100%;
  }
  #img-spoon,
  #img-knife,
  #img-fork {
    display: none;
  }

  #img-plate,
  #img-flour {
    margin-left: 13vw;
  }
}

@media (max-width: 1200px) {
  #img-plate,
  #img-flour {
    margin-left: 8vw;
  }
}

@media (max-width: 991px) {
  section.main {
    min-height: 80vh;
  }

  #img-plate,
  #img-flour {
    top: -50px;
    width: 400px;
    height: 400px;
  }

  .main-container {
    height: 70vh;
  }
}

@media (max-width: 767px) {
  section.main {
    background-image: linear-gradient(#000000a1, #000000ad),
      url(/assets/gallery/005.jpg);
  }
  #img-plate,
  #img-flour {
    display: none;
  }
}
