<section class="main">

  <div class="container main-container">
    <div class="row">
      <div class="col-6">
        <div id="img-flour"></div>
        <div id="img-plate"></div>
      </div>
      <div class="col-6">
        <h2 class="mb-3 text-white">
          Servicio de Banquetes Legaspi
        </h2>
        <p>
          El servicio de Banquetes Legaspi ofrece una alta variedad de banquetes temáticos, y de presupuestos variados.
          Nuestros banquetes pueden ser sencillos para fiestas regulares, complejos para ocasiones empresariales o de
          etiqueta. Nosotros nos adaptaremos a su necesidad, elección de ingredientes, e instrucciones.
        </p>
      </div>
    </div>
  </div>
  <div class="silverware-container">
    <div id="img-spoon"></div>
    <div id="img-knife"></div>
    <div id="img-fork"></div>
  </div>
  <div class="container node-container">
    <div class="row">
      <div class="col-12 node-title">
        <div class="node-icon"></div>
        <h2 class="mb-3 text-white">
          Banquetes
        </h2>
        <p class="w-25">
          Si usted planea contratar el servicio de alimentos, nosotros nos adaptaremos a la ocasión de su evento.
        </p>
        <div class="node-two"></div>
      </div>
      <div class="col-6">
        <div class="node-subtitle">
          <div class="node-icon"></div>
          <h2 class="mb-3 text-white">
            Empresas
          </h2>
          <p>
            En un entorno profesional, una reunión de negocios, junta administrativa, etc.
          </p>
          <div class="node-three"></div>
        </div>
        <div class="row">
          <div class="sub-node col-4">
            <div class="node-icon"></div>
            <h3 class="mb-3 text-white">
              Bocadillos y Canapés
            </h3>
            <p>
              Pequeños refrigerios para entornos de producción.
            </p>
          </div>
          <div class="sub-node col-4">
            <div class="node-icon"></div>
            <h3 class="mb-3 text-white">
              Desayunos y Brunch
            </h3>
            <p>
              Ideal para reuniones de personal o ceremonias.
            </p>
          </div>
          <div class="sub-node col-4">
            <div class="node-icon"></div>
            <h3 class="mb-3 text-white">
              Catering para cenas
            </h3>
            <p>
              Banquete o a la carta, ideal para negocios y reuniones pequeñas.
            </p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="node-subtitle">
          <div class="node-icon"></div>
          <h2 class="mb-3 text-white">
            Familiar
          </h2>
          <p>
            Eventos familiares regulares o importantes, bautizos, ceremonias, bodas, etc.
          </p>
          <div class="node-three"></div>
        </div>
        <div class="row">
          <div class="sub-node col-4">
            <div class="node-icon"></div>
            <h3 class="mb-3 text-white">
              Banquetes para fiestas
            </h3>
            <p>
              Banquete temático completo ideal para eventos familiares.
            </p>
          </div>
          <div class="sub-node col-4">
            <div class="node-icon"></div>
            <h3 class="mb-3 text-white">
              Mesa de quesos
            </h3>
            <p>
              Postres y alimentos de entrada, ideal para fiestas grandes.
            </p>
          </div>
          <div class="sub-node col-4">
            <div class="node-icon"></div>
            <h3 class="mb-3 text-white">
              Mesa de dulces
            </h3>
            <p>
              Quiosco dulcería para eventos infantiles.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>