<section class="main">

  <div class="container main-container">
    <div class="row">
      <div class="col-6">
        <div id="img-flour"></div>
        <div id="img-plate"></div>
      </div>
      <div class="col-6">
        <h2 class="mb-3 text-white">
          Servicio de Banquetes Legapi
        </h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quasi rerum repellat, aliquam magni animi
          deserunt minus dolores minima ut quis impedit nulla mollitia rem dolore quod repudiandae blanditiis aperiam,
          in molestiae nihil! Magnam aliquid nesciunt illum molestiae voluptatem natus explicabo nobis odit neque in ea
          excepturi optio corrupti laborum, iure alias a labore dolorem? Modi dolorem vel ea amet.
        </p>
      </div>
    </div>
  </div>
  <div class="container node-container">
    <div class="row">
      <div class="col-12 node-title">
        <div class="node-icon"></div>
        <h2 class="mb-3 text-white">
          Banquetes
        </h2>
        <p class="w-25">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, dignissimos.
        </p>
        <div class="node-two"></div>
      </div>
      <div class="col-6">
        <div class="node-subtitle">
          <div class="node-icon"></div>
          <h2 class="mb-3 text-white">
            Empresas
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, dignissimos.
          </p>
          <div class="node-three"></div>
        </div>
        <div class="row">
          <div class="sub-node col-4">
            <div class="node-icon"></div>
            <h3 class="mb-3 text-white">
              Bocadillos y Canapes
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, dignissimos.
            </p>
          </div>
          <div class="sub-node col-4">
            <div class="node-icon"></div>
            <h3 class="mb-3 text-white">
              Desayunos y Brunch
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, dignissimos.
            </p>
          </div>
          <div class="sub-node col-4">
            <div class="node-icon"></div>
            <h3 class="mb-3 text-white">
              Catering para cenas
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, dignissimos.
            </p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="node-subtitle">
          <div class="node-icon"></div>
          <h2 class="mb-3 text-white">
            Familiar
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, dignissimos.
          </p>
          <div class="node-three"></div>
        </div>
        <div class="row">
          <div class="sub-node col-4">
            <div class="node-icon"></div>
            <h3 class="mb-3 text-white">
              Banquetes para fiestas
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, dignissimos.
            </p>
          </div>
          <div class="sub-node col-4">
            <div class="node-icon"></div>
            <h3 class="mb-3 text-white">
              Mesa de quesos
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, dignissimos.
            </p>
          </div>
          <div class="sub-node col-4">
            <div class="node-icon"></div>
            <h3 class="mb-3 text-white">
              Mesa de dulces
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, dignissimos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>