
.container.main-container {

    height: 80vh;
    display: flex;
    align-items: center;

}


#img-plate {
    transition: 2s;

    position: absolute;
    
    left: -30%;
    top: -100%;

    background-image: url(/assets/main/plate.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 600px; height: 600px;
    background-size: 100%;
}

#img-flour {
    transition: 2s;

    position: absolute;
    
    left: -60%;
    top: -100%;

    background-image: url(/assets/main/flour.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 800px; height: 800px;
    background-size: 100%;
}
