<section class="main">

  <div class="container main-container">
    <div class="row">
      <div class="col-6">
        <div id="img-flour"></div>
        <div id="img-plate"></div>
      </div>
      <div class="col-md-6">
        <h2 class="mb-3 text-white">
          {{contentCatering.catering.header.title}}
        </h2>
        <p>
          {{contentCatering.catering.header.desc}}
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="silverware-container">
    <div id="img-spoon"></div>
    <div id="img-knife"></div>
    <div id="img-fork"></div>
  </div>
</section>
<section>
  <div class="container node-container">
    <div class="row">
      <div class="col-12 node-title">
        <div class="node-icon"></div>
        <h2 class="mb-3 text-white" (click)="isBanquet = !isBanquet">
          {{contentCatering.catering.tree.title}}
        </h2>
        <p class="w-25" [ngClass]="{'d-none': !isBanquet}">
          {{contentCatering.catering.tree.desc}}
        </p>
        <div class="node-two"></div>
      </div>
      <div class="col-6">
        <div class="node-subtitle">
          <div class="node-icon"></div>
          <h2 class="mb-3 text-white" (click)="isCompany = !isCompany">
            {{contentCatering.catering.tree.company.title}}
          </h2>
          <p [ngClass]="{'d-none': !isCompany}">
            {{contentCatering.catering.tree.company.desc}}
          </p>
          <div class="node-three"></div>
        </div>
        <div class="row">
          <div class="sub-node col-4">
            <div class="node-icon"></div>
            <h3 class="mb-3 text-white" (click)="isCompanyOne = !isCompanyOne">
              {{contentCatering.catering.tree.company.subsection.one.title}}
            </h3>
            <p [ngClass]="{'d-none': !isCompanyOne}">
              {{contentCatering.catering.tree.company.subsection.one.desc}}
            </p>
          </div>
          <div class="sub-node col-4">
            <div class="node-icon"></div>
            <h3 class="mb-3 text-white" (click)="isCompanyTwo = !isCompanyTwo">
              {{contentCatering.catering.tree.company.subsection.two.title}}
            </h3>
            <p [ngClass]="{'d-none': !isCompanyTwo}">
              {{contentCatering.catering.tree.company.subsection.two.desc}}
            </p>
          </div>
          <div class="sub-node col-4">
            <div class="node-icon"></div>
            <h3 class="mb-3 text-white" (click)="isCompanyThree = !isCompanyThree">
              {{contentCatering.catering.tree.company.subsection.three.title}}
            </h3>
            <p [ngClass]="{'d-none': !isCompanyThree}">
              {{contentCatering.catering.tree.company.subsection.three.desc}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="node-subtitle">
          <div class="node-icon"></div>
          <h2 class="mb-3 text-white" (click)="isFamily = !isFamily">
            {{contentCatering.catering.tree.family.title}}
          </h2>
          <p [ngClass]="{'d-none': !isFamily}">
            {{contentCatering.catering.tree.family.desc}}
          </p>
          <div class="node-three"></div>
        </div>
        <div class="row">
          <div class="sub-node col-4">
            <div class="node-icon"></div>
            <h3 class="mb-3 text-white" (click)="isFamilyOne = !isFamilyOne">
              {{contentCatering.catering.tree.family.subsection.one.title}}
            </h3>
            <p [ngClass]="{'d-none': !isFamilyOne}">
              {{contentCatering.catering.tree.family.subsection.one.desc}}
            </p>
          </div>
          <div class="sub-node col-4">
            <div class="node-icon"></div>
            <h3 class="mb-3 text-white" (click)="isFamilyTwo = !isFamilyTwo">
              {{contentCatering.catering.tree.family.subsection.two.title}}
            </h3>
            <p [ngClass]="{'d-none': !isFamilyTwo}">
              {{contentCatering.catering.tree.family.subsection.two.desc}}
            </p>
          </div>
          <div class="sub-node col-4">
            <div class="node-icon"></div>
            <h3 class="mb-3 text-white" (click)="isFamilyThree = !isFamilyThree">
              {{contentCatering.catering.tree.family.subsection.three.title}}
            </h3>
            <p [ngClass]="{'d-none': !isFamilyThree}">
              {{contentCatering.catering.tree.family.subsection.three.desc}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>