<div class="chat-box">
  <form class="bg-carbon-lighter" *ngIf="chatActive">
    <div class="chat-header text-white">
      <h6>
        Equipo de Jimena Legaspi 
      </h6>
      <button type="button" class="chat-closer btn" (click)="chatActive = false">+</button>
    </div>
    <div class="input-group px-3 pt-3">
      <div class="input-group-prepend">
        <span class="input-group-text">nombre:</span>
      </div>
      <input type="text" class="form-control">
    </div>
    <div class="input-group px-3 pt-3">
      <div class="input-group-prepend">
        <span class="input-group-text">email:</span>
      </div>
      <input type="text" class="form-control">
    </div>
    <div class="form-group px-3 pt-3">
      <textarea class="form-control" placeholder="mensaje:" rows="13"></textarea>
    </div>
        <button class="btn-send btn btn-danger rounded-modern" href="#" role="button">
            Enviar Mensaje
        </button>
  </form>
  <button class="btn-chat btn btn-danger rounded-modern" *ngIf="!chatActive" (click)="chatActive = true" role="button">
    Contactanos
  </button>
</div>