<section>
  <div class="gallery-container" name="top">
    <!-- first part -->
    <div class="img-big">
      <img src="/assets/gallery/008.jpg" alt="" />
    </div>
    <div class="img-big">
      <img src="/assets/gallery/012.jpg" alt="" />
    </div>
    <div class="img-tall">
      <img src="/assets/gallery/002.jpg" alt="" />
    </div>
    <div class="img-small">
      <img src="/assets/gallery/004.jpg" alt="" />
    </div>
    <div class="img-small">
      <img src="/assets/gallery/003.jpg" alt="" />
    </div>
    <!-- second part -->
    <div class="img-tall">
      <img src="/assets/gallery/006.jpg" alt="" />
    </div>
    <div class="img-small">
      <img src="/assets/gallery/007.jpg" alt="" />
    </div>
    <div class="img-small">
      <img src="/assets/gallery/009.jpg" alt="" />
    </div>
    <div class="img-big">
      <img src="/assets/gallery/001.jpg" alt="" />
    </div>
    <div class="img-tall">
      <img src="/assets/gallery/010.jpg" alt="" />
    </div>
    <!-- first part -->
    <div class="img-big">
      <img src="/assets/gallery/011.jpg" alt="" />
    </div>
    <div class="img-big">
      <img src="/assets/gallery/005.jpg" alt="" />
    </div>
    <div class="img-big">
      <img src="/assets/gallery/013.jpg" alt="" />
    </div>
  </div>
</section>
