<div class="slide-a p-4 pt-5">
  <h2 class="baskervville mb-5">
    Resultado
  </h2>
  <p>
    Hola <strong>{{ name }}</strong
    >, <br />
    <br />
    Gracias, por tu tiempo, el costo estimado para tu evento es de
    <strong>{{ price | currency }} MN</strong>, recuerda que eventos con mas
    presupuesto o menos presupuesto también pueden ser organizados por nuestro
    equipo. Nos estaremos comunicando contigo al correo
    <strong>{{ email }}</strong
    >. <br />
    <br />
    Atentamente, <br />
    Dirección del Corporativo Legaspi
  </p>
</div>
