<section>
  <div class="gallery-container">
    <!-- first part -->
    <div class="img-big">
      <img src="/assets/placeholders/hall001.jpg" alt="">
    </div>
    <div class="img-big">
      <img src="/assets/placeholders/hall002.jpg" alt="">
    </div>
    <div class="img-tall">
        <img src="/assets/placeholders/hall003.jpg" alt="">
    </div>
    <div class="img-small">
        <img src="/assets/placeholders/hall004.jpg" alt="">
    </div>
    <div class="img-small">
        <img src="/assets/placeholders/hall005.png" alt="">
    </div>
    <!-- second part -->
    <div class="img-tall">
      <img src="/assets/placeholders/hall001.jpg" alt="">
    </div>
    <div class="img-small">
      <img src="/assets/placeholders/hall002.jpg" alt="">
    </div>
    <div class="img-small">
        <img src="/assets/placeholders/hall003.jpg" alt="">
    </div>
    <div class="img-big">
        <img src="/assets/placeholders/hall004.jpg" alt="">
    </div>
    <div class="img-tall">
        <img src="/assets/placeholders/hall005.png" alt="">
    </div>
    <!-- first part -->
    <div class="img-big">
        <img src="/assets/placeholders/hall001.jpg" alt="">
      </div>
      <div class="img-big">
        <img src="/assets/placeholders/hall002.jpg" alt="">
      </div>
      <div class="img-tall">
          <img src="/assets/placeholders/hall003.jpg" alt="">
      </div>
      <div class="img-small">
          <img src="/assets/placeholders/hall004.jpg" alt="">
      </div>
      <div class="img-small">
          <img src="/assets/placeholders/hall005.png" alt="">
      </div>
  </div>
</section>