<nav class="sticky-top">
  <!-- Social Buttons -->
  <div class="main-frame">
    <ul class="nav-social">
      <li><i class="leg-facebook"></i></li>
      <li><i class="leg-instagram"></i></li>
      <li><i class="leg-youtube"></i></li>
      <li><i class="leg-twitter"></i></li>
      <li><i class="leg-envelope"></i></li>
      <li>(449) 000 0000</li>
    </ul>
    <div class="nav-brand"></div>
    <ul class="nav-store">
      <li><i class="leg-store"></i></li>
      <li>
        <button class="btn-send btn btn-outline-danger rounded-modern" href="#" role="button">Iniciar</button>
      </li>
      <li>
        <button class="btn-send btn btn-outline-danger rounded-modern" (click)="toggleCombo()" role="button">Armar un paquete</button>
      </li>
    </ul>
  </div>
  <div class="sub-frame">
    <ul class="menu">
      <div id="nav-selector"></div>
      <li id="home"><a (click)="navigate('/')">Inicio</a></li>
      <li id="catering"><a (click)="navigate('/catering')">Banqueteria</a></li>
      <li id="booking"><a (click)="navigate('/booking')">Salones</a></li>
      <li id="gallery"><a (click)="navigate('/gallery')">Galeria</a></li>
    </ul>
  </div>
</nav>