<nav>
  <app-brand [invert]="false"></app-brand>
  <ul class="menu">
    <li #homeLabel [routerLink]="['/']">Inicio</li>
    <li #cateringLabel [routerLink]="['/banqueteria']">Banqueteria</li>
    <li #galleryLabel [routerLink]="['/galeria']">Galeria</li>
    <li #venuesLabel [routerLink]="['/salones']">Salones</li>
    <li #contactLabel [routerLink]="['/contacto']">Contacto</li>
    <li #indicatorElement class="indicator"></li>
  </ul>

  <ul class="sub-menu">
    <li class="store">
      <img src="/assets/shopping-bag.svg" alt="shopping bag vector" />
    </li>
    <li>
      <button class="btn btn-danger" type="button" (click)="toggleModal()">
        Cotizador
      </button>
    </li>
  </ul>
</nav>
