.nav-brand {
    
    display: block;
    background: url(/assets/brand/logo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 100%; width: 130px;
    filter: invert(1);
    
}

.nav-social{
    height: 100%;
    margin: 0; padding: 0 30px;
    display: flex;
    border-right: 1px solid #0c0c0c;
    background: linear-gradient(#000000f3, #141414ef), url(/assets/patterns/veggies.svg) ;
    background-size: 50%;
}

.nav-social li {
    
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 100%;
    padding: 0 5px;
    
    color: white;
    opacity: .8;
    transition: .3s;
    cursor: pointer;
}

.nav-social li:hover {
    opacity: 1;
}

.nav-store{
    margin: 0;
    display: flex;
    padding: 0 30px;
}

.nav-store li {
    
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 100%;
    padding: 0 10px;
    
    color: white;
    opacity: .8;
    transition: .3s;
    cursor: pointer;

}

.nav-store li:nth-child(2) button {
    width: 110px;
}

/* ICONS */

.leg-facebook {
   
    display: block;
    height: 20px; width: 80px;
    background: url(/assets/social/facebook.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.leg-instagram {
   
    display: block;
    height: 20px; width: 20px;
    background: url(/assets/social/instagram.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.leg-youtube {
   
    display: block;
    height: 20px; width: 40px;
    background: url(/assets/social/youtube.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

}

.leg-twitter {
   
    display: block;
    height: 20px; width: 20px;
    background: url(/assets/social/twitter.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

}

.leg-envelope {
   
    display: block;
    height: 20px; width: 20px;
    background: url(/assets/social/envelope.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

}

.leg-store {
    display: block;
    height: 40px; width: 40px;
    background: url(/assets/store/shopping-bag.svg), #DC3545;
    border-radius: 50%;
    
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    
}