.combo-box {
  position: fixed;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  top: 55%;
  left: 50%;

  height: 70%;
  width: 1000px;
  border-radius: 30px;
  background: #131313;

  box-shadow: 0 0 1000px 1000px #000000b9;
  z-index: 3000;
  transform: translate(-50%, -50%);
  color: white;
}

.combo-close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;

  background: #000;
  color: white !important;

  height: 25px;
  width: 25px;
  border-radius: 50%;

  font-size: 20px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-content: center;

  transform: rotate(45deg);
  cursor: pointer;
}

.steps-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-marker {
  margin: 4px;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background: #ffffff57;
  cursor: pointer;
}
.step-marker.active {
  background: #ffffffb9;
  border: 2px solid #ffffff;
}
.step-marker.completed {
  background: #ffffffb9;
}

.controls {
  position: absolute;
  z-index: 1;
  padding: 30px;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
}

.controls button {
  margin-left: 20px;
  cursor: pointer;
}

.slider {
  margin-top: 50px;
  height: 80%;
  width: 100%;
}
