<div class="combo-box">
    <a class="combo-close" (click)="toggleCombo()">+</a>
    <div class="slider">
        <app-contact-slide *ngIf="currentSlide == 1"></app-contact-slide>
        <app-kind-slide *ngIf="currentSlide == 2"></app-kind-slide>
        <app-eventsize-slide *ngIf="currentSlide == 3"></app-eventsize-slide>
        <app-booking-slide *ngIf="currentSlide == 4"></app-booking-slide>
        <app-staff-slide *ngIf="currentSlide == 5"></app-staff-slide>
        <app-result-slide *ngIf="currentSlide == 6"></app-result-slide>
    </div>
    <div class="controls">
        <button class="btn btn-outline-danger rounded-modern" role="button" (click)="prevSlide()" [disabled]="currentSlide <= 1">
            Regresar
        </button>
        <button class="btn btn-danger rounded-modern" role="button" (click)="nextSlide()" *ngIf="currentSlide < slides.length" [disabled]="!isCurrentValid">
            Siguiente
        </button>
        <button class="btn btn-danger rounded-modern" role="button" (click)="toggleCombo()" *ngIf="currentSlide >= slides.length">
            Cerrar
        </button>
    </div>
    <div class="steps-wrapper">
        <a class="step-marker" *ngFor="let slide of slides" (click)="slideTo(slide)"
            [ngClass]="{active: slide == currentSlide, completed: slide < currentSlide}"></a>
    </div>
</div>