<footer>
  <div class="brand-bar">
    <app-brand [invert]="true"></app-brand>
  </div>
  <div class="footer-content">
    <div class="row">
      <div class="col-8">
        Abrimos nuestras puertas en 2013 en la ciudad de Aguascalientes, México,
        Somos una empresa vibrante y amamos lo que hacemos.
      </div>
      <div class="col-4">
        <a>Navegar a Inicio</a>
        <a>Navegar a Banquetera</a>
        <a>Navegar a Salones</a>
        <a>Navegar a Galería</a>
      </div>
    </div>
  </div>
  <div class="licence">
    Corporativo Legaspi by Jimena © 2020 - Developed by cuadrosoft.com
  </div>
</footer>
