header {
  padding: 100px 0px 0px 10px;
  width: 100%;
  .location {
    img {
      height: 20px;
      width: 20px;
    }
  }
  .input-group {
    background: #fff;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 0 20px 1px #00000023;
    input {
      border: none;
      &:focus {
        border: none;
        box-shadow: none;
      }
    }
  }

  .animations {
    img {
      width: 100%;
    }
  }
}

.btn {
  background: #fe043d;
  border-radius: 30px !important;
  box-shadow: 5px 5px 10px 1px #fe043d30;
}
// Welcome Section

.contents {
  padding: 30px 0px;

  .card-wrap {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 40px;

    .item:nth-child(1) {
      opacity: 0.3;
    }
    .item:nth-child(2) {
      opacity: 0.6;
    }
  }

  .booking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    padding-top: 100px;
  }
}

@media screen and (max-width: 1000px ) {
  .contents .card-wrap{
    
    display: grid;
    grid-template-columns: 1fr;
  }
}
