<header>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="location">
          <img src="/assets/placeholder.svg" alt="pin vector" />
          <label for="img" class="ml-2"
            >Republica Mexicana (449) 449 7623</label
          >
        </div>
        <h2 class="baskervville">
          Nosotros nos encargamos de tu evento.
        </h2>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="emial"
            aria-label="email"
            aria-describedby="basic-addon2"
          />
          <div class="input-group-append">
            <button class="btn btn-danger" type="button">
              Recivir Informacion
            </button>
          </div>
        </div>
        <p class="pt-5 text-black-50">
          Corporativo Legaspi by Jimena ofrece servicios para que tu evento sea
          un éxito, nuestra empresa fue fundada en 2013. Con la alta calidad de
          nuestros servicios organizamos cada vez más eventos en Aguascalientes
          e interior de la Republica. Tenemos a su alcance desde sillas
          plegables, Tiffany, Phoenix, Cross-back; mesas redondas, cuadradas,
          tablones; manteles con textura y de diferentes colores; mobiliario
          para salas, lobby, lounge; sombrillas individuales, de jardín, para
          mesas y carpas; renta de rockolas, inflables; servicio de meseros,
          mariachi, seguridad, preparación de comida, dj.
        </p>
      </div>
      <div class="col-6 animations">
        <img src="/assets/pan.png" alt="pan with food and transparency" />
      </div>
    </div>
  </div>
</header>
<section class="contents">
  <div class="container">
    <div class="row pb-5">
      <div class="col-12 card-wrap mb-5">
        <app-home-food-card
          [background]="'/assets/gallery/008.jpg'"
          [label]="'Bodas'"
          [icon]="'/assets/engagement.svg'"
        ></app-home-food-card>
        <app-home-food-card
          [background]="'/assets/gallery/005.jpg'"
          [label]="'XV Años'"
          [icon]="'/assets/dress.svg'"
        ></app-home-food-card>
        <app-home-food-card
          [background]="'/assets/gallery/001.jpg'"
          [label]="'Empresas'"
          [icon]="'/assets/building.svg'"
        ></app-home-food-card>
      </div>
      <div class="col-12 booking">
        <h2 class="baskervville">
          Nuestros Salones
        </h2>
        <p>
          Corporativo Legaspi by Jimena esta aliado con los salones, quintas, y
          hoteles más exclusivos de Aguascalientes, y aunque todos son
          perfectos, podrás elegir entre todos por jardín, alberca,
          estacionamiento, hospedaje, localización, precio.
        </p>
        <button class="btn btn-danger mt-3 px-4" [routerLink]="['/salones']">
          Ver salones
        </button>
      </div>
    </div>
  </div>
</section>
