<form>
    <h2 class="display-5">Personal en Evento</h2>
    <p class="mt-3">A continuación, selecciona el personal para tu evento. (Opcional)</p>
      <div class="row">
          <div class="col-12">
            <ul class="wrapper">
              <li (click)="selectOperations('waiter')">
                <a class="legaspi-family" [ngClass]="{'selected': waiter == true}"></a>
                <label>Mecería </label>
              </li>
              <li (click)="selectOperations('cook')">
                <a class="legaspi-family" [ngClass]="{'selected': cook == true}"></a>
                <label>Banquetería</label>
              </li>
              <li (click)="selectOperations('security')">
                  <a class="legaspi-family" [ngClass]="{'selected': security == true}"></a>
                <label>Seguridad</label>
              </li>
              <li (click)="selectOperations('mariachi')">
                  <a class="legaspi-family" [ngClass]="{'selected': mariachi == true}"></a>
                <label>Mariachi</label>
              </li>
            </ul>
          </div>
        </div>
</form>