<form>
    <h2 class="display-5">Tamaño del Evento</h2>
    <p class="mt-3">Tercer paso. Ahora solo tienes que estimar cual es el número de personas que invitaras al evento, si tu evento es mucho mayor a 600 nuestro equipo se mantendrá en contacto. De igual manera en este paso, una vez que hayas seleccionado el recuadro el sistema te dejara avanzar. </p>
      <div class="row">
          <div class="col-12">
            <ul class="wrapper">
              <li (click)="selectOperations('-150')">
                <a class="legaspi-family" [ngClass]="{'selected': currentSelected == '-150'}"></a>
                <label>menor a 150</label>
              </li>
              <li (click)="selectOperations('150-300')">
                <a class="legaspi-company" [ngClass]="{'selected': currentSelected == '150-300'}"></a>
                <label>150 a 300</label>
              </li>
              <li (click)="selectOperations('300-450')">
                <a class="legaspi-company" [ngClass]="{'selected': currentSelected == '300-450'}"></a>
                <label>300 a 450</label>
              </li>
              <li (click)="selectOperations('450-600')">
                <a class="legaspi-company" [ngClass]="{'selected': currentSelected == '450-600'}"></a>
                <label>450 a 600</label>
              </li>
              <li (click)="selectOperations('+600')">
                <a class="legaspi-company" [ngClass]="{'selected': currentSelected == '+600'}"></a>
                <label>mayor a 600</label>
              </li>
            </ul>
          </div>
        </div>
</form>