<header>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="location">
          <img src="/assets/placeholder.svg" alt="pin vector" />
          <label for="img" class="ml-2">Aguascalientes Mx</label>
        </div>
        <h2 class="baskervville">
          Nuestros salones en convenio en Aguascalientes
        </h2>
        <p class="text-black-50 mb-5">
          Corporativo Legaspi by Jimena esta aliado con los salones, quintas, y
          hoteles más exclusivos de Aguascalientes, y aunque todos son
          perfectos, podrás elegir entre todos por jardín, alberca,
          estacionamiento, hospedaje, localización, precio.
        </p>
      </div>
      <div class="card-columns">
        <app-venues-venue-card
          [background]="'/assets/venues/marriott.jpg'"
          [title]="'Hotel Marriott'"
          [text]="
            'Hotel 5 estrellas, un hotel moderno y localizado al norte de Altaria.'
          "
        ></app-venues-venue-card>
        <app-venues-venue-card
          [background]="'/assets/venues/quintareal.bmp'"
          [title]="'Hotel Quinta Real'"
          [text]="
            'Hotel 5 estrellas, el hotel sobresale por su estilo rustico y elegante.'
          "
        ></app-venues-venue-card>
        <app-venues-venue-card
          [background]="'/assets/venues/alameda.jpg'"
          [title]="'Gran Hotel Alameda'"
          [text]="
            'Hotel 5 estrellas, el hotel tiene un estilo clasico y lujoso.'
          "
        ></app-venues-venue-card>
        <app-venues-venue-card
          [background]="'/assets/venues/tequimilpa.bmp'"
          [title]="'Quinta Tequimilpa'"
          [text]="
            'Con iluminación arquitectónica de led y laser con colores programables para complementar el evento a tu elección.'
          "
        ></app-venues-venue-card>
        <app-venues-venue-card
          [background]="'/assets/venues/puerta.jpg'"
          [title]="'Puerta del Sol'"
          [text]="
            'Con iluminación arquitectónica de led y laser con colores programables para complementar el evento a tu elección.'
          "
        ></app-venues-venue-card>
        <app-venues-venue-card
          [background]="'/assets/venues/olimpo.png'"
          [title]="'Monte Olimpo'"
          [text]="
            'Salon de eventos moderno y con gran iluminacion, cuenta con pista de baile'
          "
        ></app-venues-venue-card>
        <app-venues-venue-card
          [background]="'/assets/venues/solyluna.png'"
          [title]="'Salon Sol y Luna'"
          [text]="'Salon de eventos rustico, con jardin y estacionamiento.'"
        ></app-venues-venue-card>
        <app-venues-venue-card
          [background]="'/assets/venues/fresnos.bmp'"
          [title]="'Los Fresnos y Aguas Termales'"
          [text]="
            'Quinta campestre, ideal para fiestas regulares, cuenta con piscina de aguas termales.'
          "
        ></app-venues-venue-card>
        <app-venues-venue-card
          [background]="'/assets/venues/fatima.png'"
          [title]="'Salon Jardin Fatima'"
          [text]="'Salon de fiestas, ideal para fiestas grandes.'"
        ></app-venues-venue-card>
        <app-venues-venue-card
          [background]="'/assets/venues/regina.png'"
          [title]="'Salon Regina'"
          [text]="'Salon de fiestas, ideal para fiestas infantiles o pequeñas.'"
        ></app-venues-venue-card>
        <app-venues-venue-card
          [background]="'/assets/venues/regina.png'"
          [title]="'Party Hall University'"
          [text]="'Salon de fiestas, ideal para fiestas infantiles medianas.'"
        ></app-venues-venue-card>
      </div>
    </div>
  </div>
</header>
