<section>
  <div class="container main">
    <div class="row py-5">
      <div class="col-md-6">
        <h2 class="mb-3 text-white">
          Bienvenido!
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores necessitatibus soluta natus recusandae, eius
          dolorum reiciendis maxime fugiat, rerum omnis ea. Quo dolorem quam repudiandae fugit ipsa quidem asperiores
          quaerat aliquid qui, ut, architecto impedit earum officiis reprehenderit, magnam et ratione corporis
          molestiae. Incidunt aliquam veniam repellat perferendis accusamus ratione?
        </p>
        <button type="button" class="btn-home btn btn-outline-danger btn-lg btn-block rounded-modern">Armar un
          paqute</button>
      </div>
      <div class="col-md-6">
        <div id="img-plate"></div>
        <div id="img-tomato"></div>
        <div id="img-tomato-2"></div>
        <div id="img-pepper"></div>
      </div>
    </div>
  </div>
  <div class="container shows">
    <h2 class="text-white mb-5 text-center">
      Nuestros Salones
    </h2>
    <p class="text-white-50 text-center mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et voluptatum temporibus maiores ab sequi quod nam libero odio vel corrupti qui dolor ut aliquid beatae explicabo culpa architecto non eum rerum, dolores autem vero saepe eaque! Earum debitis ex molestiae harum rerum, quaerat dignissimos delectus magnam sed id eveniet tempora.</p>
    <div class="jagged-top"></div>
    <div class="jumbotron mb-0">
    </div>
    <div class="jagged-bottom"></div>
    <button type="button" class="btn-home btn btn-outline-danger btn-lg w-50 rounded-modern"> Ver Todos Los Salones </button>
  </div>
</section>