<section>
  <div class="container main">
    <div class="row py-5">
      <div class="col-md-6">
        <h2 class="mb-3 text-white">
          Bienvenido!
        </h2>
        <p>
          Corporativo Legaspi by Jimena ofrece servicios para que tu evento sea un éxito, nuestra empresa fue fundada en
          2013. Con la alta calidad de nuestros servicios organizamos cada vez más eventos en Aguascalientes e interior
          de la Republica. Tenemos a su alcance desde sillas plegables, Tiffany, Phoenix, Cross-back; mesas redondas,
          cuadradas, tablones; manteles con textura y de diferentes colores; mobiliario para salas, lobby, lounge;
          sombrillas individuales, de jardín, para mesas y carpas; renta de rockolas, inflables; servicio de meseros,
          mariachi, seguridad, preparación de comida, dj, etc.
        </p>
        <button type="button" class="btn-home btn btn-outline-danger btn-lg btn-block rounded-modern"
          (click)="toggleCombo()">Armar un
          paqute</button>
      </div>
      <div class="col-md-6">
        <div id="img-flour"></div>
        <div id="img-pan"></div>
        <div id="img-romero"></div>
        <div id="img-tomato"></div>
        <div id="img-tomato-2"></div>
        <div id="img-pepper"></div>
      </div>
    </div>
  </div>
  <div class="shows">
    <div class="container">
      <h2 class="text-white mb-5 text-center">
        Nuestros Salones
      </h2>
      <p class="text-white-50 text-center mb-5">Corporativo Legaspi by Jimena esta aliado con los salones, quintas, y
        hoteles más exclusivos de Aguascalientes, y aunque todos son perfectos, podrás elegir entre todos por jardín,
        alberca, estacionamiento, hospedaje, localización, precio, etc.</p>
      <div class="jagged-top"></div>
      <div class="jumbotron mb-0">
        <div class="item-salon" *ngFor="let hall of halls; let i = index" [ngClass]="{'d-none': i > 3}">
          <img [src]="hall.img" alt="">
          <p class="text-dark mt-3 font-weight-bold">
            {{hall.name}}
          </p>
        </div>
      </div>
      <div class="jagged-bottom"></div>
      <button type="button" class="btn-home btn btn-outline-danger btn-lg w-50 rounded-modern"
        [routerLink]="['/booking']"> Ver Todos Los Salones </button>
    </div>
  </div>
</section>