.main {
  padding-top: 130px;
  padding-bottom: 100px;
}

#img-flour,
#img-pan,
#img-romero,
#img-tomato,
#img-pepper,
#img-tomato-2 {
    transition: 2s;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

#img-flour {
  background-image: url(/assets/main/flour.png);
  width: 600px;
  height: 600px;
  margin-left: 30px;
}

#img-pan {
  background-image: url(/assets/main/pan.png);
  width: 500px;
  height: 500px;
  margin-left: 30px;
}

#img-romero {
  left: -40px;

  background-image: url(/assets/main/romero.png);
  width: 200px;
  height: 200px;
}

#img-tomato {
  background-image: url(/assets/main/tomatoe2.png);
  width: 100px;
  height: 100px;
  margin-left: 350px;
  margin-top: 430px;
}

#img-pepper {
  background-image: url(/assets/main/pepper.png);
  width: 150px;
  height: 150px;
  margin-left: 420px;
  margin-top: 390px;
}

#img-tomato-2 {
  background-image: url(/assets/main/tomatoe.png);
  width: 100px;
  height: 100px;
  margin-left: 550px;
  margin-top: 430px;
}
