<footer>
  <div class="brand-bar">
    <app-brand [invert]="true"></app-brand>
      <p class="small-info d-block d-md-none p-5">
        Abrimos nuestras puertas en 2013 en la ciudad de Aguascalientes, México,
        Somos una empresa vibrante y amamos lo que hacemos.
      </p>
  </div>
  <div class="footer-content">
    <div class="row">
      <div class="col-lg-8 col-md-12 d-none d-md-block ">
        Abrimos nuestras puertas en 2013 en la ciudad de Aguascalientes, México,
        Somos una empresa vibrante y amamos lo que hacemos.
      </div>
      <div class="footer-menu col-lg-4 col-md-12">
        <a>Inicio</a>
        <a>Banquetera</a>
        <a>Salones</a>
        <a>Galería</a>
      </div>
    </div>
  </div>
  <div class="licence">
    Corporativo Legaspi by Jimena © 2020 - Developed by cuadrosoft.com
  </div>
</footer>
