<footer>
  <section class="main">
    <div class="container">
      <div class="footer-wrapper">
        <div class="footer-brand"></div>
        <div class="footer-about">
          <p class="text-left"> {{contentFooter.shared.footer.text}}</p>
        </div>
        <ul>
          <li (click)="navigate('/home')">{{contentFooter.shared.footer.menu.home}} </li>
          <li (click)="navigate('/catering')">{{contentFooter.shared.footer.menu.catering}} </li>
          <li (click)="navigate('/booking')">{{contentFooter.shared.footer.menu.booking}} </li>
          <li (click)="navigate('/gallery')">{{contentFooter.shared.footer.menu.gallery}} </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="sub">
    <div class="container">
      <p class="footer-licence">
        {{contentFooter.shared.footer.licence}}
      </p>
    </div>
  </section>
</footer>