<footer class=" bg-carbon">
  <div class="py-3 bg-carbon">
    <div class="container">
      <a class="footer-brand"></a>
    </div>
  </div>
  <div class="container">
    <div class="jumbotron my-0 py-3 rounded-0 bg-carbon">
      <div class="row">
        <div class="col-md-4">
          <div class="footer-title">
            Nosotros
          </div>
          <p class="footer-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis eaque aliquid fugit quam totam quae
            molestias nostrum natus odio corporis magnam nam voluptas, incidunt quo alias? Neque est magnam ipsa!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis eaque aliquid fugit quam totam quae
            molestias nostrum natus odio corporis magnam nam voluptas, incidunt quo alias? Neque est magnam ipsa!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis eaque aliquid fugit quam totam quae
            molestias nostrum natus odio corporis magnam nam voluptas, incidunt quo alias? Neque est magnam ipsa!
          </p>
        </div>
        <div class="col-md-4">
          <div class="footer-title">
            Equipo Legaspi
          </div>
          <p class="footer-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis eaque aliquid fugit quam totam quae
            molestias nostrum natus odio corporis magnam nam voluptas, incidunt quo alias? Neque est magnam ipsa!
          </p>
        </div>
        <div class="col-md-4">
          <div class="footer-title">
            Socios Legaspi
          </div>
          <p class="footer-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis eaque aliquid fugit quam totam quae
            molestias nostrum natus odio corporis magnam nam voluptas, incidunt quo alias? Neque est magnam ipsa!
          </p>
        </div>
      </div>
      <hr class="my-2">

      <div class="row">
        <div class="col-4">
          <p class="footer-note mt-3"> Corporativo Legaspi by Jimena © 2019 </p>
        </div>
        <div class="col-8 d-flex justify-content-end">
          <div class="input-group mb-3 w-100 group-rounded-modern">
            <input type="text" class="form-control" placeholder="Suscribete para recibir ofertas">
            <div class="input-group-append w-25">
              <button class="btn btn-outline-danger w-100" type="button" id="button-addon2"> Suscribirse</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>