footer::before {
  position: absolute;
  content: '';
  height: 100px;
  width: 250px;
  left: 50%;
  top: -65px;

  background: url(/assets/brand/tab.svg);
  background-repeat: no-repeat;
  transform: translate(-50%);
}
footer {
  position: relative;
  background: #131313;
}

.main {
  padding: 50px;
  border-bottom: 1px solid #000;
}

.sub {
  background: #0e0e0e;
  height: 50px;
  border-bottom: 1px solid #000;
}

.footer-licence {
  padding: 0;
  margin: 0;
  line-height: 50px;
  text-align: center;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
}

.footer-wrapper > * {
  align-self: center;
  justify-content: center;
}

.footer-about {
  padding-left: 50px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  color: white;
  padding-left: 100px;
}

ul li {
  cursor: pointer;
}

.footer-brand {
  background: url(/assets/brand/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 200px;
  width: 200px;

  filter: invert(1);
}

@media (max-width: 790px) {
  .footer-wrapper {
    display: flex;
    flex-direction: column;
  }
  ul {
    padding: 0;
    padding-left: 50px;
    width: 100%;
  }
}

@media (max-width: 530px) {
  .footer-licence {
    font-size: 11px;
  }
}

@media (max-width: 420px) {
  .footer-wrapper,
  .footer-about,
  ul {
    padding: 0;
  }
}
